<!-- <div class="about-area area-padding">
    <div class="container"> -->
<!-- ======= hero Section ======= -->
<section id="hero">
    <div class="hero-container">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div style="background-image: url(assets/img/hero-carousel/1.jpg)" class="carousel-item active"
                    data-bs-interval="1000">
                    <div class="carousel-container">
                        <div class="container">
                            <p class="animate__animated animate__fadeInUp">Bright The Change</p>
                            <h2 class="animate__animated animate__fadeInDown">SUPPORT ALL ROUND DEVELOPMENT OF A
                                CHILD</h2>
                            <a routerLink="/donate"
                                class="btn-get-started scrollto animate__animated animate__fadeInUp">DONATE
                                NOW</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(assets/img/hero-carousel/2.jpg)" class="carousel-item"
                    data-bs-interval="1000">
                    <div class="carousel-container">
                        <div class="container">
                            <p class="animate__animated animate__fadeInUp">Bright The Change</p>
                            <h2 class="animate__animated animate__fadeInDown">SUPPORT ALL ROUND DEVELOPMENT OF A
                                CHILD</h2>
                            <a routerLink="/donate"
                                class="btn-get-started scrollto animate__animated animate__fadeInUp">DONATE
                                NOW</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(assets/img/hero-carousel/3.jpg)" class="carousel-item"
                    data-bs-interval="1000">
                    <div class="carousel-container">
                        <div class="container">
                            <p class="animate__animated animate__fadeInUp">Bright The Change</p>
                            <h2 class="animate__animated animate__fadeInDown">SUPPORT ALL ROUND DEVELOPMENT OF A
                                CHILD</h2>
                            <a routerLink="/donate"
                                class="btn-get-started scrollto animate__animated animate__fadeInUp">DONATE
                                NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero Section -->

<!-- Body Section -->
<div class="entry-content">
    <div class="container section1">
        <section class="m-3"><i class="fa-solid fa-circle-dollar-to-slot fs-1"></i></section>
        <section class="m-3">
            <h2>Donate Now</h2>
        </section>
        <section class="m-3">
            <p>Who is he that will loan to Allah a beautiful loan, which Allah will double unto his credit and
                multiply many times?
                <br>
                (Quran 2:245 )
            </p>
        </section>
        <section class="m-3">

            <section class=""><button type="button" class="btn btn-danger">Donate <i
                        class="fa-solid fa-arrow-right-long ms-3"></i></button>
            </section>
        </section>

    </div>
    <!--section 2-->
    <div class="container section2 mt-3">
        <div style="height: 400px;" class=" bg-light m-1 w-50">
            <section class="m-3"><i class="fa-solid fa-handshake fs-1"></i></section>
            <section class="m-3">
                <h2>Appeal to sponsor a child for complete
                    CARE programme</h2>
            </section>
            <section class="m-3">
                <p>Join us to help provide poor and vulnerable children with equal opportunities to transform
                    their
                    lives</p>
            </section>
            <section class="m-3"><button type="button" class="btn btn-info">Read more <i
                        class="fa-solid fa-arrow-right-long ms-3"></i></button>
            </section>
        </div>
        <div style="height: 400px;" class="bg-light m-1 w-50">
            <section class="m-3"><i class="fa-solid fa-school fs-1"></i></section>
            <section class="m-3">
                <h2>Appeal to build
                    education institution

                </h2>
            </section>
            <section class="m-3">
                <p>Establishing institutions is a key for sustained intellectual and all round growth of a
                    community

                </p>
            </section>
            <section class="m-3"><button type="button" class="btn btn-info">Read more <i
                        class="fa-solid fa-arrow-right-long ms-3"></i></button>
            </section>
        </div>

    </div>
    <!--section 3-->
    <div class="container section1 mt-3">
        <section class="m-3"><i class="fa-solid fa-handshake fs-1"></i></section>
        <section class="m-3">
            <h2>Join our Team</h2>
        </section>
        <section class="m-3">
            <p>Your participation is important to us.</p>
        </section>
        <section class="m-3"><button type="button" class="btn btn-info">Read more <i
                    class="fa-solid fa-arrow-right-long ms-3"></i></button> </section>
    </div>

    <!-- ======= Testimonials OUR MISSION Section ======= -->
    <div id="testimonials" class="testimonials">
        <div class="container">

            <div class="testimonials-slider swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>OUR MISSION</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                We remain focussed in our mission of community building by establishing
                                institutes of learning
                                (schools, colleges, residential hotels) that focus on imparting holistic education We
                                believe
                                Taleem
                                and Tarbiyah are the cornerstones that help produce resilient, grounded, balanced and
                                accomplished
                                children embedded with strong ethical and moral values. We believe that community
                                building
                                work
                                is
                                not complete until poor and vulnerable are honoured and given equal opportunities to
                                excel.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
            </div>

        </div>
    </div><!-- End Testimonials Section -->

    <br />

    <!-- ======= Testimonials OUR MISSION Section ======= -->
    <div id="testimonials_1" class="testimonials testimonials1">
        <div class="container">

            <div class="testimonials-slider swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>COMMUNITY</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                We work hard in engaging community by grass root contact and by monthly
                                community events for
                                families across multiple cities in England, Scotland and Wales.
                                <br>We also conduct weekly sports activities for children.
                                We aim to build families that are not only empowered with holistic education, wisdom and
                                best
                                character but also raise awareness about taking responsibility of building community by
                                active
                                participation.
                                Creating awareness within the families about their responsibilities is the key for a
                                sustained
                                growth and building next generation of leaders to carry the work forward
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
            </div>

        </div>
    </div><!-- End Testimonials Section -->


</div>

<!-- </div>
</div> -->