.area-padding {
    padding: 85px 0px 80px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 50%;
    margin: 16px;
    padding: 16px;
    transition: transform 0.3s;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.form-group,
.form-check {
    text-align: left;
}

/* app.component.css */
.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
}