<div class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form contact-form" [formGroup]="checkoutForm">
                    <h2 class="text-center">Donate to Camel Foundation</h2>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required="">
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                            required="">
                    </div>

                    <div style="margin-bottom: 10px"></div>
                    @if (elementsOptions.clientSecret) {
                    <div class="form-group mt-3">
                        <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
                            <ngx-stripe-payment />
                        </ngx-stripe-elements>
                    </div>
                    }
                    <div style="margin-bottom: 20px"></div>
                    <div style="text-align: right">
                        <button class="btn btn-info" (click)="clear()" style="margin-right: 16px">
                            CLEAR
                        </button>
                        <button class="btn btn-info" [disabled]="paying()" (click)="collectPayment()">
                            @if (paying()) {
                            <span>PROCESSING...</span>
                            } @else {
                            <span>
                                PAY @if (amount) {
                                <!-- <span>{{ amount }}</span> -->
                                }
                            </span>
                            }
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>