<div class="about-area area-padding">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex  justify-content-center">
                <div class="form contact-form w-30" [formGroup]="checkoutForm">
                    <h3 class="mt-5">Donate to Camel Foundation</h3>
                    <br />
                    <div>
                        <p>I am raising funds for a/an <b>{{Cause?.value?.name}} </b> cause</p>
                    </div>
                    <div class="form-group mt-3">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="Cause">
                            @for (item of causeList; track item.name;let i = $index;let lastIndex = $last) {
                            <mat-button-toggle [value]="item"> {{ item.name }}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                    </div>

                    <br />
                    <div>
                        <p> Donation Type is <b>{{donationType?.value?.name}} </b></p>
                    </div>
                    <!-- Price Items -->
                    <div class="form-group mt-3">
                        <mat-button-toggle-group formControlName="donationType" name="fontStyle"
                            aria-label="Font Style">
                            @for (item of donation; track item.name;let i = $index;let lastIndex = $last) {
                            <mat-button-toggle [value]="item"> {{ item.name}}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                    </div>

                    <br />
                    <!-- Price Items -->
                    <div class="form-group mt-3">
                        <mat-button-toggle-group [value]="25" formControlName="price" name="fontStyle"
                            aria-label="Font Style">
                            @for (item of priceItem; track item.name;let i = $index;let lastIndex = $last) {
                            <mat-button-toggle value="item.value" (click)="setActive(i)"> {{ item.name
                                }}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                    </div>

                    @if(customPrice){
                    <br />

                    <!-- Custom Price -->
                    <mat-form-field appearance="outline" class="form-group mt-3">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="amount" placeholder="Enter amount">
                        <span matTextPrefix>£ &nbsp;</span>
                        <span matTextSuffix>GPB</span>
                    </mat-form-field>
                    }
                    <br />

                    <!-- Name Field -->
                    <mat-form-field appearance="outline" class="full-width mt-3">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                            <span *ngIf="name?.errors?.['required']">Name is required.</span>
                        </mat-error>
                    </mat-form-field>
                    <br />

                    <!-- Email Field -->
                    <mat-form-field appearance="outline" class="full-width mt-3">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                            <span *ngIf="email?.errors?.['required']">Email is required.</span>
                            <span *ngIf="email?.errors?.['email']">Invalid email format.</span>
                        </mat-error>
                    </mat-form-field>
                    <br />

                    <!-- Mobile Number Field -->
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput formControlName="mobileNumber" type="tel" placeholder="Enter mobile number"
                            required>
                        <mat-error *ngIf="mobileNumber?.invalid && (mobileNumber?.dirty || mobileNumber?.touched)">
                            <span *ngIf="mobileNumber?.errors?.['required']"> Mobile number is required.</span>
                            <span *ngIf="mobileNumber?.errors?.['pattern']"> Please enter a valid 10-digit mobile
                                number.</span>
                        </mat-error>

                    </mat-form-field>
                    <br />


                    <!-- Recurring Payment Checkbox -->
                    <div class="form-group mt-3">
                        <mat-checkbox formControlName="recurringPayemnt" id="flexCheckDefault">
                            Make this a monthly donation
                        </mat-checkbox>
                    </div>
                    <br />
                    <!-- Stripe Payment -->
                    @if (elementsOptions.clientSecret) {
                    <div class="form-group mt-3">
                        <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
                            <ngx-stripe-payment />
                        </ngx-stripe-elements>
                    </div>
                    }

                    <!-- Submit Buttons -->
                    <div style="margin-bottom: 20px;"></div>
                    <div style="text-align: center;">
                        <button mat-flat-button color="warn" (click)="clear()" style="margin-right: 16px">Clear</button>
                        <button mat-flat-button color="primary" [disabled]="paying()" (click)="loadPaymentForm()">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>