<div class="about-area area-padding">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="assets/img/about/education.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">Camel Foundation</h4>
                            </a>
                            <p>
                                Camel Foundation is a UK based international NGO which provides support to developmental
                                work across the world predominantly in India.

                                We believe in establishing Táaleem (education) and Tarbiyah (nurturing) as a cornerstone
                                to achieve our objective.

                                Camel Foundation strives towards honouring the vulnerable and poor section of the
                                society by helping them to unleash their potential and empower them with a holistic
                                approach towards education – a key tool to transform their lives.

                                Camel Foundation with its team of volunteers are guided by the principles of Islam which
                                stands for universal peace, equality and honouring the weak and vulnerable sections of
                                our community.

                                We care to tell you that we do not encourage any particular school of thought in Islam,
                                and any political activities are strictly unfavored.

                                We are steadfast, honest and unwavering in our objective of transforming our community
                            </p>

                            <p><b>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Camel foundation is a UK based international NGO providing support in
                                    developmental work
                                    through holistic education and awareness raising
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </b>
                            </p>

                        </div>
                    </div>

                </div>

                <!-- End col-->
            </div>
        </div>
    </div>
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <!-- Start single blog -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12  p-4">
                            <h2>What we believe</h2>
                            <div class="card">

                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>Seeking knowledge is an obligation on every Muslim</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Ibn Majah</cite>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <br>
                            <div class="card">

                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>Allah’s Prophet صلى الله عليه وسلم said, “Do not wish to be like anyone,
                                            except in two cases: A man whom Allah has given wealth and he spends it
                                            righteously. A man whom Allah has given wisdom and he acts according to it
                                            and teaches it to others.”</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">Sahih Bukhari
                                                Narrated by Abdullah bin Masud</cite>
                                        </footer>
                                    </blockquote>
                                </div>

                            </div>
                            <br>
                            <h5><mark> Quran & Sunnah order us to honour the poor and vulnerable section of the
                                    community
                                    with a hidden wisdom that they can be your real asset if cared and looked
                                    after</mark></h5>
                            <p>Ignorance is likened to intoxication which leads to destruction of individuals and
                                hence families and communities. Holistic education is the cure for ignorance</p>
                        </div>


                        <!-- End single blog -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2>Creating awareness:</h2>
                            <br>
                            <h5><mark>Awareness raising is an important tool to generate support , participation and
                                    sustenance of work , along with building a healthy society around ourselves</mark>
                            </h5>
                            <br>
                            <p>CFT doesn’t believe that donating for community building is enough. This is why CFT
                                volunteers regularly engage individuals, families and their children and the wider
                                populace in community through outreach work. Our focus is on encouraging people to be
                                conscious of the responsibilities as a believer and engage in developing self , their
                                family and the community . Encourage individuals and families to become aware of the
                                needs of wider community. To respect and honour the poor and vulnerable section of the
                                community by giving them equal opportunities to reach their full potential.</p>
                            <br>
                            <h5><mark>Community building work is a team work. It can’t be achieved by few people.</mark>
                            </h5>

                        </div>

                        <!-- End single blog -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2>Working with partners:</h2>
                            <p>CFT doesn’t believe in telling tall-tales or make big claims. We know our limits, but we
                                also know that united, there’s nothing we cannot change. CFT looks forward to engage and
                                partner with other NGOs with a similar vision. Currently we partner with Camel
                                foundation – India and Camel foundation – USA.</p>
                            <br>
                            <h5><mark>United, there is nothing we cannot change. We believe in forming alliance to
                                    achieve our goals</mark>
                            </h5>
                            <br>
                            <h2>Advocacy</h2>

                            <br>
                            <h5><mark>Together we are responsible and only together we can make a difference</mark>
                            </h5>
                            <p>CFT is a young charity with a fresh vision. We believe problems faced by the community
                                won’t get solved through donations alone. We don’t just want to take your money. We want
                                to take you on board to form teams.</p>

                        </div>

                        <br>
                        <div class="card">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Seeking knowledge is an obligation on every Muslim
                                    </p>
                                    <footer class="blockquote-footer"><cite title="Source Title">
                                            Ibn Majah</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>

                        <p><br />Ignorance is likened to intoxication which leads to destruction of individuals and
                            hence
                            families and communities.<br /> Allah says in Quran, indeed Allah will not change the
                            condition of a people until they
                            change what is within themselves.</p>
                        <h5><mark>Holistic education is the cure for ignorance and darkness</mark>
                        </h5>
                        <ul class="holistic">
                            <li>Islamic education</li>
                            <li>Modern education</li>
                            <li>Nurturing discipline</li>
                            <li>Developing linguistic and communication skills</li>
                            <li>Good health and physical well being</li>
                        </ul>
                        <br />
                        <h3 class="wp-block-heading">Key elements of holistic education</h3>
                        <br />

                        <h5><mark>Community building is not complete until we include and honour poor, orphan and weaker
                                sections of the society </mark>
                        </h5>


                        <h5 class="mt-3"><mark>Camel foundation does not allow any political activism on its platform.
                                There is
                                zero tolerance for hate, mischief, discrimination or abuse</mark>
                        </h5>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>